@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); 

h1{
    color:blue
    font-family: 'Open Sans', sans-serif;
    
}
strong {

    
    color:black;
    size: 10px;
    background-color:red;
    ;
}
